@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<User>
<h1>Credit Analysts</h1>
<a asp-action="AddCreditAnalyst" asp-controller="Admin" class="btn btn-primary">Add Credit Analyst</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Password</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.CreatedDate</td>
            </tr>
        }
    </tbody>
</table>

