@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h1>Customer Page</h1>
<a asp-action="Logout" asp-controller="Login" class="btn btn-danger">LogOut</a>